!!! 5
%html
  %head
    %title authy demo for rails
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .row
      .small-12
        = yield
